/* General Styles */

* {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    max-width: 100vw;
    box-sizing: border-box;
  }
  
  body{
    background-color: black;
  }

  /*Hero link edits*/
  .sticky-bg {
    width: 100%;
    backdrop-filter: blur(20px);
   }


  .navbar-brand{
      font-size: larger;
      font-family: 'Courier New', monospace;
      color: white;
      transition: 0.5s;
      margin-left: 10px;
  }

  .navbar-brand:hover{
      color: lightskyblue;
      font-weight: 500;
  }
  
  .navbar-toggler{
    color: white;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); 
  }

  .nav-link{
    text-decoration: none;
    color: white;
    transition: 0.5s;
    font-family: 'Courier New', monospace;
    font-size: larger;
  }

  .nav-link:hover{
    color: lightskyblue;
    font-weight: 500;
  }

  .navbar-nav {
    display: flex;
    gap: 30px;
    padding: 1% 3%;
    list-style: none;
    padding-right: 20px;
}

  
  /* Adding responsivness to Nav Section */
  @media (max-width: 700px){
      nav .fa{
          display: block;
          color: #ffffff;
          margin: 10px;
          font-size: 36px;
          cursor: pointer;
      }
      .sticky-bg{
          backdrop-filter: none;
      }
      .nav-links .hero-link{
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 10%;
          font-size: 22px;
      }
  
      .nav-links ul li {
          display: block;
          text-align: left;
          padding: 5px 50px;
      }
      #nav-links-sub{
          left: -200px;
          text-align: right;
          margin-top: 70px;
          position: absolute;
          height: 100vh;
          width:30%;
          background: lightskyblue;
          backdrop-filter: blur(3px);
          transition: 1s;
      }
  }
  
  /* adding reveal animation */
  .reveal{
      position: relative;
      transform: translateY(150px);
      opacity: 0;
      transition: 1s all ease;
  }
  .reveal.active{
      transform: translateY(0px);
      opacity: 1;
  }

  
  /* Custom Scroll - I dont't think I want weird colours here?? Maybe add a plain one for compatability */
  /* width */
  ::-webkit-scrollbar{
      width: 10px;
      background-color: rgba(0,0,0,0);
  }
  /* Track for scroll bar */
  ::-webkit-scrollbar-track{
      background-color: black;
  }
  
  /*Handle*/
  ::-webkit-scrollbar-thumb{
      background: rgb(240,240,240);
      border-radius: 10px;
      width: 5px;
      height: 5px;
  }
  
  /* Handle on hover*/
  ::-webkit-scrollbar-thumb:hover{
      background: #686868;
  }
  
  
  /* Adding responsivness to Nav Section */
  @media (max-width: 700px){
      nav .fa{
          display: block;
          color: #ffffff;
          margin: 10px;
          font-size: 36px;
          cursor: pointer;
      }
      .sticky-bg{
          backdrop-filter: none;
      }
      .nav-links .hero-link{
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 10%;
          font-size: 22px;
      }
  
      .nav-links ul li {
          display: block;
          text-align: left;
          padding: 5px 50px;
      }
      #nav-links-sub{
          left: -200px;
          text-align: right;
          margin-top: 70px;
          position: absolute;
          height: 100vh;
          width:30%;
          background: lightskyblue;
          backdrop-filter: blur(3px);
          transition: 1s;
      }
  }
  


/*Blog CSS*/

#blog-page{
    min-height: 100vh;
    max-width: 100vw;
    min-height: 100vh;
}

.headline-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: black;
}

.headline-title{
    color: white;
    font-size: 2rem;
    font-family: 'Courier New', monospace;
}

.card-body {
    transition: background-color 0.3s ease;
}

.card-body:hover{
    background-color: lightskyblue;
}

.card-img-wrapper {
    height: 350px;
    overflow: hidden;
    position: relative;
}

.blog-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blog-title{
    font-size: 2rem;
    font-family: 'Courier New', monospace;    
}

.reveal{
    opacity: 0;
    transform: translateY(150px);
    transition: 1s all ease;
  }

  .reveal.active{
    opacity: 1;
    transform: translateY(0)
  }


/*Footer Styling*/
.footer{
    margin: auto;
    padding-top: 2%;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: white;
    height: 10vh;
}

.copyright-footer p{
    text-decoration: none;
    color: white;
    justify-content: space-between;
    align-items: center;
    font-family: 'Courier New', monospace;
    font-size: larger;
}

.list-footer ul{
    display: flex;
    justify-content: space-between;
}

@media (max-width: 992px){
    #contact {
        padding-top: 50%;
    }

    .copyright-footer p{
        font-size: small;
        padding: 10px;
    }
    
    .list-footer {
        padding: 5px;
    }
}
  