/* General Styles */

* {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    max-width: 100vw;
    box-sizing: border-box;
    /*background-color: black; /*remover aferlanding???*/  
  }
  
  body{
    background-color: black;
  }

  /*Hero link edits*/
  .sticky-bg {
    width: 100%;
    backdrop-filter: blur(20px);
   }


  .navbar-brand{
      font-size: larger;
      font-family: 'Courier New', monospace;
      color: white;
      transition: 0.5s;
      margin-left: 10px;
  }

  .navbar-brand:hover{
      color: lightskyblue;
      font-weight: 500;
  }
  
  .navbar-toggler{
    color: white;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); 
  }

  .nav-link{
    text-decoration: none;
    color: white;
    transition: 0.1s;
    font-family: 'Courier New', monospace;
    font-size: larger;
  }

  .nav-link:hover{
    color: lightskyblue;
    font-weight: 500;
  }

  .navbar-nav {
    display: flex;
    gap: 30px;
    padding: 1% 3%;
    list-style: none;
    padding-right: 20px;
}


  
  /* Custom Scroll - I dont't think I want weird colours here?? Maybe add a plain one for compatability */
  /* width */
  ::-webkit-scrollbar{
      width: 10px;
      background-color: rgba(0,0,0,0);
  }
  /* Track for scroll bar */
  ::-webkit-scrollbar-track{
      background-color: black;
  }
  
  /*Handle*/
  ::-webkit-scrollbar-thumb{
      background: rgb(240,240,240);
      border-radius: 10px;
      width: 5px;
      height: 5px;
  }
  
  /* Handle on hover*/
  ::-webkit-scrollbar-thumb:hover{
      background: #686868;
  }
  

/*Contact Page */
#contact{
    min-height: 100vh;
    max-width: 100vw;
    background-color: lightblue;
    min-height: 100vh;
    color: black;
}

.contact-words h2 {
    font-family: "Orbitron", sans-serif;
    font-size: x-large;
    font-weight: bold;
}

.contact-words p{
    font-family: "Orbitron", sans-serif;
    font-size: large;
}

.social-icon-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    justify-content: space-around;
}

.social-icon-wrapper a{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    color: black;
    font-size: 40px;
    transition: 0.5s;
    text-decoration: none;
    font-family: "Orbitron", sans-serif;
    font-size: large;
}

.social-icon-wrapper a:hover{
    color: darkblue
}



/* adding reveal animation */
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}
.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}

/*Footer Styling*/
.footer{
    margin: auto;
    padding-top: 2%;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: white;
    height: 10vh;
}

.copyright-footer p{
    text-decoration: none;
    color: white;
    justify-content: space-between;
    align-items: center;
    font-family: 'Courier New', monospace;
    font-size: larger;
}

.list-footer ul{
    display: flex;
    justify-content: space-between;
}

@media (max-width: 992px){
    #contact {
        padding-top: 50%;
    }
}
  